/*

CSS for NYSL site

*/

body {

 font-family: sans-serif, Verdana, Helvetica;

 line-height: 125%;

 padding: 15px;
 

}

h1 {

 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 font-size: x-large;
 

}

li {

 font-size: small;

}


 
 