       /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

       html,
       body,
       div,
       span,
       applet,
       object,
       iframe,
       h1,
       h2,
       h3,
       h4,
       h5,
       h6,
       p,
       blockquote,
       pre,
       a,
       abbr,
       acronym,
       address,
       big,
       cite,
       code,
       del,
       dfn,
       em,
       img,
       ins,
       kbd,
       q,
       s,
       samp,
       small,
       strike,
       strong,
       sub,
       sup,
       tt,
       var,
       b,
       u,
       i,
       center,
       dl,
       dt,
       dd,
       ol,
       ul,
       li,
       fieldset,
       form,
       label,
       legend,
       table,
       caption,
       tbody,
       tfoot,
       thead,
       tr,
       th,
       td,
       article,
       aside,
       canvas,
       details,
       embed,
       figure,
       figcaption,
       footer,
       header,
       hgroup,
       menu,
       nav,
       output,
       ruby,
       section,
       summary,
       time,
       mark,
       audio,
       video {
           margin: 0;
           padding: 0;
           border: 0;
           font-size: 100%;
           font: inherit;
           vertical-align: baseline;
       }

       article,
       aside,
       details,
       figcaption,
       figure,
       footer,
       header,
       hgroup,
       menu,
       nav,
       section {
           display: block;
       }

       body {
           line-height: 1;
       }

       ol,
       ul {
           list-style: none;
       }

       blockquote,
       q {
           quotes: none;
       }

       blockquote:before,
       blockquote:after,
       q:before,
       q:after {
           content: '';
           content: none;
       }

       table {
           border-collapse: collapse;
           border-spacing: 0;
       }
       /* Begging of my code*/

       body {

           /*margin: 30px 20px 50px 20px;
           padding-bottom: 30px;*/
          /* border-style: solid;
           border-color: black;*/
          /* border-width: 1px;*/
           background-image: url(image.jpg);

       }




       h1 {
           font-style: "Times New Roman";
           font-size: 80px;
           font-weight: bold;
           color: black;
           padding-bottom: 5px;
           position: absolute;
           left: 170px;
           top: 40px;
       }






       #logo {
           opacity: 1;
           padding-top: 10px;
           padding-left: 15px;
       }


       #logo:hover {
           opacity: 0.8;
           filter: alpha(opacity=70);
       }


       #navigation {
           display: flex;
           
           position: center;
          
           border-style: solid;
           border-width: 1px;
           border-color: black;
           margin-right: 150px;
           margin-top: 20px;



         
       }


       li {
           font-size: 25px;
           text-align: center;
           flex: 1;
       }

       a {
           text-decoration: none;
           color: black;
       }

       a:hover {
           opacity: 0.6;
           filter: alpha(opacity=70);
           color: green;
       }


       #girl {


          
           
           width: 100%;
           padding: 10px;
       }



       #pagecontent {

           margin-left: 145px;
           margin-top: 0px;

           
       }



       ul.dates {
          
           line-height: 40px;
           margin-top: 20px;
           padding-right: 10px;
           text-align: left;

       }
       #photoandtext {
           display: flex;
           background-color: white;
           opacity: 1;
           right: 100px;
           margin-right: 151px;
           margin-left: 460px;
           margin-top: 20px;
           border-radius: 15px;
       }





       .event {
           text-align: left;
           padding-left: 30px;
           font-size: 20px;
       }

       .month {
           text-align: left;
           font-weight: bold;
           padding-left: 30px;

           font-size: 20px;


           
       }

       #upcomingevents {
           font-weight: bold;
           font-size: 22px;
       }


       #text {
           line-height: 25px;
           padding: 10px;

       }


       #contact {
           font-size: 25px;
           line-height: 50px;
           padding: 10px;
       }



       h3 {
           font-weight: bold;
           font-size: 20px;
           padding-top: 20px;
       }

       p {
           padding-right: 10px;
           padding-left: 10px;
           font-size: 18px;
       }